


body {
  
  background-image: url('parque.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 2em;
}
.oscuro{
  background-color: rgba(0, 0, 0, 0.5);
  width: 40%;
  margin: auto;
}

img{
  display: flex;
  width: 60%;
  margin: auto;
}
.contenedor {
  display: flex;
  justify-content: center;
  margin-top: 2em;

}

.columna1, .columna2 {
  display: flex;
  flex-direction: column;
}

.caja {
  border: 2px solid #666;
  border-radius: 0.3em;
  padding: 1em;
  margin: 0.5em;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

/* Colores */
.seleccionado {
  background-color: green;
}

.correcto {
  background-color: green;
}

.incorrecto {
  background-color: red;
}


#comprobar, #reiniciar {
  display: block;
  margin: 2em auto;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  background-color: #4CAF50;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#comprobar:hover, #reiniciar:hover {
  background-color: #2e8b57;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-contenido {
  background-color: white;
  margin: 10% auto;
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  max-width: 400px;
}

.cerrar {
  color: #aaa;
  float: right;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

.cerrar:hover,
.cerrar:focus {
  color: black;
  text-decoration: none;
}
